
/* CSS For Index.html  */

body {
    font-family: "Montserrat";
}

#Title {
    background-color: #52616B;
    color: #000;
}

.navbar {
    padding: 0 0 0 0;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.0rem;
    font-family: "Montserrat-Light";
}



.landingPageTitle {
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    margin: 5rem .1rem .75rem .1rem;
}

.landingPageDescription {
    font-family: "Montserrat-Thin";
    font-size: 2rem;
    line-height: 1.5;
    font-style: italic, #fff;
    text-align: center;
    margin: .1rem .1rem .1rem .1rem;
}

.btn-styling {
    font-family:'Times New Roman';
    font-size: 2rem;
}

.mainContent {
    padding: 1rem;
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
}




/* CSS For About Me Page */

.about-page-title {
    text-align: center;
    margin: 5rem .1rem .75rem .1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.about-page-description {
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

/* CSS For My Skills Page */

.my-skills-background {
    background-color: #52616B;
}

.my-skills-title {
    text-align: center;
    margin: 5rem .1rem .75rem .1rem;
    padding: 1rem 1rem 1rem 1rem;
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

.my-skills-descriptions {
    background-color: #C9D6DF;
    text-align: center;
    margin: 5rem .1rem .75rem .1rem;
    padding: 1rem 1rem 1rem 1rem;
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

.skill-listing-style {
    background-color: #C9D6DF;
    border: #000 solid;
    font-family: "ubuntu";
    font-weight: bolder;
    font-size: large;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* This can cause problems in the future */
td {
    border: #000 1px solid;
    font-size: 1rem;
    line-height: 1.5;    
}

/* CSS For Contact Me Page */

.contact-me-page-title {
    text-align: center;
    margin: 5rem .1rem .75rem .1rem;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.contact-me-page-description {
    text-align: center;
    margin: 1rem .1rem .75rem .1rem;
    padding: 1rem;
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
}

.contact-form-style {
    text-align: left;
    padding: 1rem;
    font-family: "ubuntu";
    font-weight: bolder;
    font-size: large;
}

/* CSS For Favorite Book List Page */

.favorite-books-page-title {
    text-align: center;
    margin: 5rem .1rem .75rem .1rem;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.favorite-books-page-description {
    text-align: center;
    margin: 1rem .1rem .75rem .1rem;
    border: #000 solid;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.book-listing-style {
    background-color: #C9D6DF;
    border: #000 solid;
    font-family: "ubuntu";
    font-weight: bolder;
    font-size: large;
    margin: 0;
    padding: 0;
    text-align: center;
}